[submodule "Assets/Scripts"]
	path = Assets/Scripts
	url = https://github.com/DiniskaPol/CoreSubmodule
[submodule "Scripts"]
	path = Scripts
	url = C:\\Users\\user\\Documents\\TestSubmodule\\Assets\\Scripts
